<h1>About Me - Xiaotong Xie</h1>

<hr />

<div style="width:80%;margin:auto">
    <div style="float:left;width:200px">
        <p style="font-family:Arial;font-weight:700;font-size:1.5em;color:#F49A11">Hi, I'm Xiaotong Xie, a Full-Stack Developer from China. </p>
    </div>
    <p style="font-family:'Times New Roman';font-weight:400;font-size:1.2em">
    I grow up in Shanxi Xi’an, which is a city with long history and strong culture. 
    I lived in a family of three. My parent are very patient and support me to open my eyes. 
    <br>
    <br>
    I enroll in Software Developer program in MITT because I actually interested in the process of building a software. 
    The Matrix and all kinds of sci-fi movies and novels opened this door for me. 
    I really enjoy when I complete a software. It always gives me a sense of achievement.
    I’m also excited with how my work will help people in daily life. 
    I usually read some novels or comics with great plot, Three Body, for example. 
    Creating a story from zero would be very difficult for me, so I prefer to made some secondary creation on original work. I would like to see tragedies having a happy ending in another IF world, or plot coming into another possibility. 
    </p>
</div>